{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">Tags</h1>
  <a href="{% url 'task:tag-create' %}" class="btn btn-primary link-to-page">
    Create tag
  </a>

  <ul>
    {% if tags %}
      {% for tag in tags %}
        <li>{{ tag.name }}</li>
        <a href="{% url 'task:tag-update' tag.id %}" class="btn btn-primary">
          Update
        </a>
        <a href="{% url 'task:tag-delete' tag.id %}" class="btn btn-primary">
          Delete
        </a>
      {% endfor %}
    </ul>
  {% else %}
    <h2 class="text-center">No tags currently!</h2>
  {% endif %}
{% endblock %}
